@font-face {
  font-family: "Kite One";
  src: url("KiteOne-Regular.woff2") format("woff2");
}

body {
  font-family: "Kite One";
}

.image {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.gap-default {
  gap: 20px;
}

.padding-default {
  padding-left: 36px;
  padding-right: 36px;
}

.input-password svg {
  top: 14px;
  right: 14px;
}

.input-password input {
  padding-right: 40px;
}

.my-edu {
  margin-top: 17px;
  margin-bottom: 37px;
}
.fs-18 {
  font-size: 18px;
}
.gap-25 {
  gap: 25px;
  
}